.ex-1-square:hover {
    background-color: red;
}

.ex-2-square:active {
    width: 1100px;

}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square:hover {
    background-color: #f5f5f5;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover {
    filter: sepia(.6) grayscale(0.8);
}

.ex-8-img:hover {
    filter: sepia(.6) grayscale(0.8);
    border-radius: 10%;
}

.ex-9-img:hover {
    filter: sepia(.6) grayscale(0.8);
    border-radius: 10%;
    transform: scale(1.2);
}

.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover {
    animation: spin2 2s linear;
}

@keyframes spin2 {
    0% {
        transform: rotate(0);
    }
    80% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}


.ex-12-button:hover .ex-12-top-white{
    animation: spin3top1 1s linear;
}
@keyframes spin3top1 {
    0%  {
        left: 30%;
    }
    50% {
        left: 60%;
    }

    100% {
        left: 30%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: spin3bottom1 1s linear;
}
@keyframes spin3bottom1 {
    0%  {
        right: 30%;
    }
    50% {
        right: 60%;
    }

    100% {
        right: 30%;
    }
}



.ex-13-button:hover .ex-13-top-white{
    animation: spin3top2 2s linear;
}
@keyframes spin3top2 {
    0%  {
        left: 50%;      
    }

    50% {
        left: 100%;
        top: 50%;
    }
    100%{
        left: 50%;
        top: 100%;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: spin3bottom2 2s linear;
}
@keyframes spin3bottom2 {
    0%  {
        right: 50%;      
    }

    50% {
        right: 100%;
        bottom: 50%;
    }
    100%{
        right: 50%;
        bottom: 100%;
    }
}
